/* ------------------------------- Resets ------------------------------- */

html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
  border: 0;
  outline: 0;
  background: transparent;
}

/* ------------------------------- Global ------------------------------- */

/* Variables */
:root {
  --active-bg: hsla(0,0%,80%,1);
  --active-fg: hsla(0,0%,10%,1);
  --active-hover-bg: hsla(0,0%,90%,1);
  --blur-bg: blur(19px);
  --blur-viewer-bg: blur(10px);
  --border-radius: 30px;
  --box-shadow-subtle: 0 5px 10px rgba(0,0,0,.2);
  --header-height: 50px;
  --header-transition: background-color 100ms linear;
  --inactive-hover-bg: hsla(0,0%,100%,0.1);
  --mobile-header-margin-sides: 25px;
  --search-bg: hsla(0,0%,100%,0.1);
  --text-main: #efefef;
  --translucent-bg: hsla(0,0%,18%,0.6);
  --translucent-bg-fallback: hsla(0,0%,28%,0.95);
}

* {
  box-sizing: border-box; /* Automatically take into account padding when calculating dimensions for more consistency */
}

body {
  background: grey no-repeat fixed center;
  font-size: 14px;
  padding: 0 20px;
}

/* Splash screen */
body::before {
  content: '';
  display: block;
  position: absolute;
  animation: splashScreen 2s ease-out forwards;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #333 url('https://cdn.discordapp.com/attachments/552552070876758032/802277763263627267/hof.png') no-repeat fixed center;
  background-size: 700px;
  z-index: 99;
}

/* ---------------------- Background blur element ---------------------- */

.bg-blur-container {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  }

.bg-blur {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  filter: blur(19px);
  opacity: 0.7;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale(1.05);
  transition: background-image 500ms;
  z-index: -1;
  }

/* ----------------- Main Header, Image Nav and Filters ----------------- */

.image-nav {
  align-items: center;
  background: var(--translucent-bg-fallback);
  box-shadow: var(--box-shadow-subtle);
  color: var(--text-main);
  display: flex;
  font-weight: 700;
  margin-left: -20px;
  min-height: var(--header-height);
  padding-left: 20px;
  position: fixed;
  text-shadow: 0 1px 8px hsla(0,0%,0%,0.5), 0 1px 0px hsla(0,0%,0%,0.6);
  width: 100%;
  z-index: 5;
}

.image-nav .filter, 
.image-nav .image-types label,
.image-nav .search .search-input {
  font-weight: 600;
  font-size: 14px;
}

.image-nav.hidden {
  visibility: hidden;
}

.image-nav .framed-icon {
  left: calc(var(--mobile-header-margin-sides) - 5px);
  margin-right: 15px;
}

.image-nav .framed-icon svg {
  display: block;
  height: 38px;
  fill: var(--active-bg); /* Optionally make logo fill match other elements */
  padding: 0;
}

.image-nav .filters {
  height: var(--header-height);
  margin-right: 40px;
  overflow: hidden;
  padding: 0;
}

.image-nav .filters .sort-icon {
  display: inline-block;
  margin-top: -2px;
  position: absolute;
  right: 15px;
  vertical-align: middle;
}

.image-nav .filters .sort-icon svg {
  display: block;
}

/* Active sort icon */
.image-nav .filter .sort-icon svg[fill="#fff"] {
  fill: var(--active-fg);
}

.image-nav .filters .filter {
  background-color: transparent;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-weight: inherit;
  font-size: inherit;
  height: 100%;
  padding: 8px 35px 8px 20px;
  position: relative;
  text-shadow: inherit;
  text-transform: capitalize;
  transition: var(--header-transition);
}

.image-nav .filters li {
  float: left;
  vertical-align: middle;
  height: 100%;
}

.image-nav .filter:hover {
  background: var(--inactive-hover-bg);
}

.image-nav .filter.is-active {
  background: var(--active-bg);
  color: var(--active-fg);
  padding: 8px 35px 8px 20px;
  text-shadow: none;
}

.image-nav .filter.is-active:hover {
  background: var(--active-hover-bg);
}

.image-nav .image-types {
  align-items: center;
  display: flex;
  line-height: initial;
  margin-right: 40px;
  padding: 0;
}

.image-nav .image-types [type="radio"] {
  display: none;
}

.image-nav .image-types [type="radio"]:checked + label {
  background-color: var(--active-bg);
  border-radius: var(--border-radius);
  color: var(--active-fg);
  padding: 1px 8px 2px;
  text-shadow: none;
}

.image-nav .image-types [type=radio]:checked+label:hover {
  background: var(--active-hover-bg);
}

.image-nav .image-types label {
  align-self: flex-end;
  border-radius: var(--border-radius);
  color: inherit;
  cursor: pointer;
  height: auto;
  line-height: 20px;
  margin: 0 10px;
  padding: 1px 8px 2px;
  transition: var(--header-transition);
  vertical-align: top;
}

.image-nav .image-types label:hover {
  background: var(--inactive-hover-bg);
}

.image-nav .search .search-input {
  background: var(--search-bg); 
  border-radius: var(--border-radius);
  color: hsla(0,0%,100%,0.4);
  font-size: inherit;
  outline: 0;
  padding: 5px 10px;
  transition: var(--header-transition);
  border: 0;
}

/* Targets field's placeholder text */
.image-nav .search .search-input::placeholder {
  color: inherit;
  opacity: 1;
}

.image-nav .search .search-input:focus,
.mobile-menu .mobile-menu-content .search .search-input:focus {
  background-color: hsla(0,0%,100%,0.3);
  color: inherit;
}

.image-nav--mobile {
  align-items: center;
  justify-content: space-between;
  padding-top: var(--header-height);
}

.image-nav--mobile .framed-icon {
  top: 6px;
  position: absolute;
}

/* ---------------------------- Mobile menu ---------------------------- */

.mobile-menu {
  width: 100%;
  margin-right: var(--mobile-header-margin-sides);
}

.mobile-menu .menu-button {
  background: none;
  padding: 0;
  position: absolute;
  right: var(--mobile-header-margin-sides);
  top: 9px;
}

.mobile-menu .menu-button svg {
  fill: var(--active-bg);
}

.mobile-menu .mobile-menu-content {
  animation: mobileMenuContent 500ms forwards;
  background: none;
  box-shadow: none;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-between;
  margin: 0 -25px 0;
  max-height: 150px;
  opacity: 0;
  padding: 0;
  position: static;
  top: var(--header-height);
  right: 0 ;
}

.mobile-menu .mobile-menu-content .search {
  flex: 0 0 100%;
  flex-flow: column;
}

.mobile-menu .mobile-menu-content .search .search-input {
  background: var(--search-bg); 
  width: 100%;
}

.mobile-menu .mobile-menu-content .filters,
.mobile-menu .mobile-menu-content .image-types {
  margin-right: 0px !important;
}

.mobile-menu .mobile-menu-content .image-types {
  height: var(--header-height);
  padding: 0;
  margin: 0;
}

.mobile-menu .mobile-menu-content .filters {
  background-color: unset;
  display: flex;
  justify-content: flex-start;
  width: auto;
}

.mobile-menu .mobile-menu-content .filters .filter {
  padding: 8px 40px 8px 16px;
}

.mobile-menu .mobile-menu-content .search .search-input,
.mobile-menu .mobile-menu-content .image-types label,
.mobile-menu .mobile-menu-content .image-types [type=radio]:checked+label {
  border-radius: 0;
}

.mobile-menu .mobile-menu-content .filters .filter,
.mobile-menu .mobile-menu-content .filters .filter.is-active,
.mobile-menu .mobile-menu-content .search .search-input,
.mobile-menu .mobile-menu-content .image-types label,
.mobile-menu .mobile-menu-content .image-types [type=radio]:checked+label {
  padding: 15px var(--mobile-header-margin-sides);
  margin: 0;
}

.mobile-menu .mobile-menu-content .filters .filter,
.mobile-menu .mobile-menu-content .image-types label {
  height: 100%;
}

.mobile-menu .mobile-menu-content .filters .filter,
.mobile-menu .mobile-menu-content .filters .filter.is-active {
  padding-right: 35px;
}

/* ------------------------- Image Grid/Viewer ------------------------- */

.image-rows {
  padding-top: 55px;
  z-index: 1;
}

.image-row {
  width: 100%;
  white-space: nowrap;
  line-height: 0;
}

.image-row .thumbnail-container {
  display: inline-block;
  position: relative;
  overflow: hidden;
}


.image-row .image-info {
  width: 100%;
  background: #000000aa;
  text-align: center;
  line-height: 30px;
  height: 0px;
  color: #fff;
  position: absolute;
  bottom: 0;
  transition: height 100ms linear;
}

.image-row .thumbnail-container:hover .image-info {
  height: 30px;
}

.image-row .image-info .author {
  font-weight: 500;
  color: #fff;
}

.image-viewer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  text-align: center;
  background: var(--translucent-bg);
  cursor: zoom-out;
}

/* Blurs image grid while viewer is open using Firefox-compatible property */
.image-nav.hidden + .image-rows {
    filter: var(--blur-viewer-bg);
}

.image-viewer.is-visible {
  display: block;
}

.image-viewer .image-nav {
  backdrop-filter: none;
  width: 100%;
  height: var(--header-height);
  display: flex;
  position: fixed;
  justify-content: space-between;
  background: none;
  box-shadow: none;
  margin-left: 0;
}

.image-viewer .image-nav-button {
  width: 49%;
  height: 90%;
  background-color: transparent;
  font-size: 16px;
  color: #fff;
  opacity: 0.6;
  cursor: pointer;
  font-weight: 600;
}

.image-viewer .image-nav-button:hover {
  opacity: 1;
}

.image-viewer .image-nav-button:disabled {
  cursor: default;
  opacity: 0.4;
}

.image-viewer .image-nav-button.left {
  text-align: right;
}

.image-viewer .image-nav-button.right {
  text-align: left;
}

.image-viewer-content {
  background: #000;
  display: inline-block;
  text-align: left;
  margin-top: 50px;
  position: relative;
}

.image-viewer-content img {
  max-width: 95vw;
  max-height: calc(98vh - 130px);
  margin: auto auto;
  cursor: auto;
  z-index: 15;
  border-bottom: 1px solid #888;
}

.image-viewer-content img.hidden {
  display: none;
}

.image-viewer-content .author {
  padding: 8px 10px;
  background-color: #000;
  color: #fff;
  font-size: 15px;
  position: relative;
}

.image-viewer-content .author .title {
  margin-top: 3px;
  color: #ccc;
  max-width: fit-content;
}

.image-viewer-content .author img {
  border-radius: 50%;
  max-width: 40px;
  margin: 0;
}

.image-viewer-content .close {
  border: 0;
  cursor: pointer;
  height: 30px;
  opacity: .6;
  padding: 0;
  position: fixed;
  right: var(--mobile-header-margin-sides);
  top: 10px;
  width: 30px;
  z-index: 9999;
  fill: #fff;
  outline: 0;
}

.image-viewer-content .fullscreen-button {
  height: 30px;
  width: 30px;
  fill: #fff;
  position: absolute;
  right: 5px;
  top: 10px;
}

.image-viewer-content .close:hover {
  opacity: 1;
}

.image-viewer-content.fullscreen {
  display: flex;
  align-items: center;
}

.image-viewer-content.fullscreen img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  border: 0;
}


/* ----------------------------- Animations ----------------------------- */

@keyframes splashScreen {
  0%,80% { opacity: 1; z-index: 99; }
  99.9%  { opacity: 0; z-index: 99; }
  100%   { opacity: 0; z-index: -99; }
}
@-webkit-keyframes splashScreen {
  0%,80% { opacity: 1; z-index: 99; }
  99.9%  { opacity: 0; z-index: 99; }
  100%   { opacity: 0; z-index: -99; }
}

@keyframes fadeIn {
  0% {
    background: #111111dd url('https://cdn.discordapp.com/emojis/575642684006334464.png?v=1') no-repeat fixed 50% 34%;
  }
  80% {
    background: #111111dd url('https://cdn.discordapp.com/emojis/575642684006334464.png?v=1') no-repeat fixed 50% 34%;
  }
  100% {
    background: #111111dd no-repeat fixed 50% 34%;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    background: #111111dd url('https://cdn.discordapp.com/emojis/575642684006334464.png?v=1') no-repeat fixed 50% 34%;
  }
  80% {
    background: #111111dd url('https://cdn.discordapp.com/emojis/575642684006334464.png?v=1') no-repeat fixed 50% 34%;
  }
  100% {
    background: #111111dd no-repeat fixed 50% 34%;
  }
}

@keyframes mobileMenuContent {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes mobileMenuContent {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

/* ---------------------------- Breakpoints ---------------------------- */

@media only screen and (max-width: 550px) {
  .mobile-menu .filters {
      flex: 0 0 100%;
      box-shadow: var(--box-shadow-subtle);
      margin: 0;
      z-index: 2;
  }
}

@media only screen and (max-width: 760px) {
  .search {
    display: inherit;
  }

  .image-row .image-info .author {
    font-size: 12px;
  }

  .image-row .image-info .by {
    display: none;
  }

  body::before {
    background-size: 450px;
  }

  @keyframes fadeIn {
    0% {
      background: #111111dd url('https://cdn.discordapp.com/emojis/575642684006334464.png?v=1') no-repeat fixed 50% 19%;
    }
    80% {
      background: #111111dd url('https://cdn.discordapp.com/emojis/575642684006334464.png?v=1') no-repeat fixed 50% 19%;
    }
    100% {
      background: #111111dd no-repeat fixed 50% 19%;
    }
  }
  @-webkit-keyframes fadeIn {
    0% {
      background: #111111dd url('https://cdn.discordapp.com/emojis/575642684006334464.png?v=1') no-repeat fixed 50% 19%;
    }
    80% {
      background: #111111dd url('https://cdn.discordapp.com/emojis/575642684006334464.png?v=1') no-repeat fixed 50% 19%;
    }
    100% {
      background: #111111dd no-repeat fixed 50% 19%;
    }
  }
}

/* ---------------------- Browser support checks ---------------------- */

@supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
  .image-nav {
      background: var(--translucent-bg);
      backdrop-filter: var(--blur-bg);
  }
}