.framed-spinner-container,
.framed-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.framed-spinner--global {
  width: 90px;
  height: 90px;
  border: 5px solid rgba(#000, 0.25);
}
.framed-spinner::before {
  content: "";
  display: inline-block;
  visibility: hidden;
}

.framed-spinner-container {
  z-index: 99;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(#041f35, 0.8);
  will-change: transform;
  background: #000000dd;
}

.framed-spinner-container.global {
    position: fixed;
  background: #00000044;
}

.framed-spinner-svg-wrapper {
  width: 50px;
  height: 50px;
  animation: framed-spinner-svg-rotate 0.75s linear infinite;
}

.framed-spinner svg {
  position: absolute;
  top: 0;
  left: 0;
}

.framed-spinner-svg-back {
  stroke-width: 20;
  stroke: #dbe6ed;
}

.framed-spinner-svg-segment {
  stroke: #444;
  stroke-linecap: round;
  stroke-width: 20;
  animation: framed-spinner-svg-rotate 1.25s infinite,
    framed-spinner-svg-opacity 2s infinite;
}

.framed-spinner circle {
  stroke-dasharray: 141 566;
}

@keyframes framed-spinner-svg-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes framed-spinner-svg-opacity {
    50% {
      opacity: 0.25;
    }
  
    100% {
      opacity: 1;
    }
  }