html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Global */

body {
  background-color: #333;
  font-size: 14px;
  padding: 0 20px;
  animation: splashScreen 2s forwards;
}

/* Image Nav and Filters */

.image-nav {
  display: flex;
  align-items: center;
  color: #efefef;
  position: fixed;
  background: #333;
  width: 100%;
  box-shadow: 0px 5px 5px #00000078;
  margin-left: -20px;
  padding-left: 20px;
}

.image-nav .framed-icon svg {
  display: block;
  height: 37px;
  padding: 3px 15px 3px 3px;
}

.image-nav.hidden {
  visibility: hidden;
}

.image-nav .filters {
  margin-right: 40px;
  background-color: #333;
  height: 50px;
  overflow: hidden;
  padding: 0;
}

.image-nav .filters .sort-icon {
  vertical-align: middle;
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 16px
}

.image-nav .filters .sort-icon svg {
  display: block;
}

.image-nav .filters .filter {
  position: relative;
  font-size: 14px;
  text-transform: capitalize;
  background-color: transparent;
  height: 100%;
  border: 0;
  cursor: pointer;
  color: #efefef;
  padding: 8px 35px 8px 12px;
  border-radius: 0;
  outline: 0;
  transition: border-bottom 90ms cubic-bezier(.77,0,.18,1)
}

.image-nav .filters li:first-child {
  margin-right: 10px;
}

#Date {
  background: url("./assets/date.png") no-repeat 20% 60%;
  background-size: 40px;
  width: 76px;
}

#Popularity {
  background: url("./assets/reactions.png") no-repeat 20% 60%;
  background-size: 75px;
  width: 108px;
}

.image-nav .filters li {
  float: left;
  vertical-align: middle;
  height: 100%;
}

.image-nav .filter.is-active {
  background: #222;
  border-bottom: 4px solid grey;
  padding-bottom: 4px;
}

.image-nav .image-types {
  padding: 4px;
  padding-bottom: 5px;
  border: 4px solid grey;
  margin-right: 40px;
  display: flex;
  align-items: center;
}

.image-nav .image-types [type="radio"] {
  display: none;
}

.image-nav .image-types [type="radio"]:checked + label {
  background-color: rgb(97, 97, 97);
  padding: 0 5px;
  border-radius: 10px;
  transition: background-color 200ms cubic-bezier(.77,0,.18,1);
}

.image-nav .image-types label {
  color: #efefef;
  margin: 0 10px 0 4px;
  padding: 0 5px;
  vertical-align: top;
  align-self: flex-end;
}

.image-nav .search {
  font-size: 15px;
}

.image-nav .search .search-input {
  background: url("./assets/search.png") no-repeat 5% 60%;
  background-size: 70px;
  padding: 3px;
  border: 4px solid grey;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.527);
  background-color: #333;
  transition: background-color 100ms linear;
  outline: 0;
}

.image-nav .search .search-input:focus {
  background-image: none;
  background-color: grey;
  color: rgba(255, 255, 255, 0.829);
}

.image-nav--mobile {
  align-items: center;
  justify-content: space-between;
}

.mobile-menu {
  margin-right: 40px;
}

.mobile-menu .menu-button {
  padding: 0;
  background: none;
  border: 0;
  outline: 0;
}

.mobile-menu .mobile-menu-content {
  position: absolute;
  right: 43px;
  top: 43px;
  padding: 20px;
  background: #3c3c3c;
  box-shadow: 0px 5px 5px #00000078;
  display: flex;
  flex-flow: column;
  height: 20vh;
  justify-content: space-between;
  min-height: 117px;
  max-height: 150px;
}

.mobile-menu .mobile-menu-content .filters,
.mobile-menu .mobile-menu-content .image-types {
  margin-right: 0px !important;
}

.mobile-menu .mobile-menu-content .search .search-input {
  background-color: unset;
  width: 100%;
}

.mobile-menu .mobile-menu-content .search .search-input:focus {
  background-color: grey;
}

.mobile-menu .mobile-menu-content .filters {
  background-color: unset;
  display: flex;
  justify-content: space-between;
}

.mobile-menu .mobile-menu-content .filters .filter.is-active {
  border: 4px solid grey;
  padding: 8px 35px 8px 12px;
  background-color: unset;
  transition: none;
}

.mobile-menu .mobile-menu-content .filters .sort-icon {
  top: 11px;
}

.mobile-menu .mobile-menu-content .filters #Date {
  background-position-y: 55%;
  width: 100px;
}

.mobile-menu .mobile-menu-content .filters #Popularity {
  background-position-y: 55%;
  width: 115px;
}

/* Image Grid */

.image-rows {
  padding-top: 55px;
}

.image-row {
  width: 100%;
  white-space: nowrap;
  line-height: 0;
}

/* Image Viewer */

.image-viewer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #111111dd;
  /* animation: fadeIn 3000ms forwards; */
  cursor: zoom-out;
}

.image-viewer.is-visible {
  display: block;
}

.image-viewer .image-nav {
  width: 100%;
  height: 50px;
  display: flex;
  position: fixed;
  justify-content: space-between;
  background: none;
  box-shadow: none;
}

.image-viewer .image-nav-button {
  width: 49%;
  height: 90%;
  background-color: transparent;
  font-size: 16px;
  color: #fff;
  border: 0;
  opacity: 0.6;
  cursor: pointer;
  outline: 0;
  font-weight: bold;
}

.image-viewer .image-nav-button:hover {
  opacity: 1;
}

.image-viewer .image-nav-button:disabled {
  cursor: default;
  opacity: 0.4;
}

.image-viewer .image-nav-button.left {
  text-align: right;
}

.image-viewer .image-nav-button.right {
  text-align: left;
}

.image-viewer-content {
  background: #000;
  display: inline-block;
  text-align: left;
  margin-top: 50px;
  position: relative;
}

.image-viewer-content img {
  max-width: 95vw;
  max-height: calc(98vh - 130px);
  margin: auto auto;
  cursor: auto;
  z-index: 15;
  border-bottom: 1px solid #888;
}

.image-viewer-content .author {
  padding: 8px 10px;
  background-color: #000;
  color: #fff;
  font-size: 15px;
}

.image-viewer-content .author .title {
  margin-top: 3px;
  color: #ccc;
  max-width: fit-content;
}

.image-viewer-content .author img {
  border-radius: 50%;
  max-width: 40px;
  margin: 0;
}

.image-viewer-content .close {
    background-color: transparent;
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%09%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M21%204.41L19.59%203%2012%2010.59%204.41%203%203%204.41%2010.59%2012%203%2019.59%204.41%2021%2012%2013.41%2019.59%2021%2021%2019.59%2013.41%2012%2021%204.41z%22/%3E%0A%3C/svg%3E);
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    height: 30px;
    opacity: .6;
    padding: 0;
    position: fixed;
    right: 15px;
    top: 10px;
    width: 30px;
    z-index: 9999;
}

.image-viewer-content .close:hover {
  opacity: 1;
}

/* KEYFRAMES */

@keyframes splashScreen {
  0% {
    opacity: 0;
    background: #333 url('https://cdn.discordapp.com/attachments/552552070876758032/802277763263627267/hof.png') no-repeat fixed center;
    background-size: 700px;
  }
  80% {
    opacity: 0;
    background: #333 url('https://cdn.discordapp.com/attachments/552552070876758032/802277763263627267/hof.png') no-repeat fixed center;
    background-size: 700px;
  }
  100% {
    opacity: 1;
    background: #333 no-repeat fixed center;
    background-size: 700px;
  }
}
@-webkit-keyframes splashScreen {
  0% {
    opacity: 0;
    background: #333 url('https://cdn.discordapp.com/attachments/552552070876758032/802277763263627267/hof.png') no-repeat fixed center;
    background-size: 700px;
  }
  80% {
    opacity: 0;
    background: #333 url('https://cdn.discordapp.com/attachments/552552070876758032/802277763263627267/hof.png') no-repeat fixed center;
    background-size: 700px;
  }
  100% {
    opacity: 1;
    background: #333 no-repeat fixed center;
    background-size: 700px;
  }
}
@keyframes fadeIn {
  0% {
    background: #111111dd url('https://cdn.discordapp.com/emojis/575642684006334464.png?v=1') no-repeat fixed 50% 34%;
  }
  80% {
    background: #111111dd url('https://cdn.discordapp.com/emojis/575642684006334464.png?v=1') no-repeat fixed 50% 34%;
  }
  100% {
    background: #111111dd no-repeat fixed 50% 34%;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    background: #111111dd url('https://cdn.discordapp.com/emojis/575642684006334464.png?v=1') no-repeat fixed 50% 34%;
  }
  80% {
    background: #111111dd url('https://cdn.discordapp.com/emojis/575642684006334464.png?v=1') no-repeat fixed 50% 34%;
  }
  100% {
    background: #111111dd no-repeat fixed 50% 34%;
  }
}

/* BREAKPOINTS */

@media only screen and (max-width: 760px) {
  .search {
    display: inherit;
  }

  @keyframes splashScreen {
    0% {
      opacity: 0;
      background: #333 url('https://cdn.discordapp.com/attachments/552552070876758032/802277763263627267/hof.png') no-repeat fixed center;
      background-size: 450px;
    }
    80% {
      opacity: 0;
      background: #333 url('https://cdn.discordapp.com/attachments/552552070876758032/802277763263627267/hof.png') no-repeat fixed center;
      background-size: 450px;
    }
    100% {
      opacity: 1;
      background: #333 no-repeat fixed center;
      background-size: 450px;
    }
  }
  @-webkit-keyframes splashScreen {
    0% {
      opacity: 0;
      background: #333 url('https://cdn.discordapp.com/attachments/552552070876758032/802277763263627267/hof.png') no-repeat fixed center;
      background-size: 450px;
    }
    80% {
      opacity: 0;
      background: #333 url('https://cdn.discordapp.com/attachments/552552070876758032/802277763263627267/hof.png') no-repeat fixed center;
      background-size: 450px;
    }
    100% {
      opacity: 1;
      background: #333 no-repeat fixed center;
      background-size: 450px;
    }
  }
  @keyframes fadeIn {
    0% {
      background: #111111dd url('https://cdn.discordapp.com/emojis/575642684006334464.png?v=1') no-repeat fixed 50% 19%;
    }
    80% {
      background: #111111dd url('https://cdn.discordapp.com/emojis/575642684006334464.png?v=1') no-repeat fixed 50% 19%;
    }
    100% {
      background: #111111dd no-repeat fixed 50% 19%;
    }
  }
  @-webkit-keyframes fadeIn {
    0% {
      background: #111111dd url('https://cdn.discordapp.com/emojis/575642684006334464.png?v=1') no-repeat fixed 50% 19%;
    }
    80% {
      background: #111111dd url('https://cdn.discordapp.com/emojis/575642684006334464.png?v=1') no-repeat fixed 50% 19%;
    }
    100% {
      background: #111111dd no-repeat fixed 50% 19%;
    }
  }
}