name: Deploy website

on:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 15.x   
    - run: npm install
    - run: npm run build
    - uses: peaceiris/actions-gh-pages@v3.7.3
      with:
        publish_dir: build
        github_token: ${{ secrets.GITHUB_TOKEN }}
    
